html, body {height: 100%;margin: 0;}
body {margin: 0;font-family: 'Open Sans', sans-serif;color: #333;}

p,div,a,span{
   font-size: 0.9em;
}

.hero-unit {margin: 50px auto 0 auto;width: 100%;font-size: 18px;font-weight: 200;line-height: 30px;background-color: #eee;border-radius: 6px;}
.hero-unit h1 {font-size: 60px;line-height: 1;letter-spacing: -1px;}

.browsehappy {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
core-scroll-header-panel {position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: #eee;}

/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {background-image: url(../images/murruni-logo.svg);background-size: 170px 170px;}

/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {background-image: url(../images/murruni-logo.svg);background-size: 60px 60px;background-color: #34495e;}
core-toolbar {color: #f1f1f1;fill: #f1f1f1;background-color: transparent;}

.title {-webkit-transform-origin: 0;transform-origin: 0;font-size: 40px;}
.content { padding: 8px; }
.span-shadow {display: inline-block;padding: 8px;}

