<!--
    @license
    Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
    This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
    The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
    The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
    Code distributed by Google as part of the polymer project is also
    subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<!doctype html>
<html>
<head>
  <title>core-animated-pages</title>

  <link rel="stylesheet" href="styles/main.css">

  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  <link href="bower_components/core-animated-pages/core-animated-pages.html" rel="import">
  <link href="bower_components/core-elements/core-elements.html" rel="import">
  <link href="bower_components/core-toolbar/core-toolbar.html" rel="import">
  <link href="bower_components/core-scroll-header-panel/core-scroll-header-panel.html" rel="import">
  <link href="bower_components/paper-icon-button/paper-icon-button.html" rel="import">
  <link href="bower_components/paper-icon-button/paper-icon-button.html" rel="import">
  <link href="bower_components/paper-ripple/paper-ripple.html" rel="import">
  <link href="bower_components/paper-shadow/paper-shadow.html" rel="import">
  <link href="bower_components/paper-button/paper-button.html" rel="import">

  <style>
    body {
      font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      background: #f1f1f1;
    }

    .green {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 350px;
      background: #70c26f;
    }
  </style>
</head>
<body>

  <polymer-element name="box-container">
  <template>

    <style>
      .chip-container {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
      }

      .chip {
        display: inline-block;
        position: relative;
        border-radius: 3px;
        margin: 4px;
        overflow: hidden;
        text-align: start;
        background-color: #fff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
      }

      .chip-top {
        width: 150px;
        height: 150px;
        text-align: center;
      }

      .chip-bottom {
        padding: 8px;
        line-height: 1.5;
      }

      .chip-album-title {
        font-weight: bold;
      }

      #details {
        padding: 0px 10% 0;
      }

      .card {
        min-height: 400px;
        border-radius: 3px;
        text-align: start;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .card-left {
        width: 200px;
      }

      .card-right {
        padding: 24px;
      }

      .card-icon {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }

      .card-album-title {
        font-size: 2em;
      }

      core-icon.big {
        height: 96px;
        width: 96px;
        margin-top: 22px;
      }

    </style>

    <core-animated-pages selected="{{page}}" transitions="hero-transition" on-core-animated-pages-transition-end="{{complete}}">

      <section>

        <div class="chip-container" hero-p on-tap="{{transition}}">

          <template repeat="{{items as item}}">

            <div class="chip" hero-id="{{item.title}}-{{item.icon}}" hero?="{{selectedAlbum === item }}">
              <div class="chip-top" style="background:{{item.color}};" hero-id="{{item.title}}-{{item.title}}-art" hero?="{{selectedAlbum === item}}"><core-icon icon="{{item.icon}}" class="big"></core-icon></div>
              <div class="chip-bottom">
                <div class="chip-album-title">{{item.title}}</div>
                
              </div>
            </div>

          </template>

        </div>
      </section>

      <section id="details">

        <div class="card" layout horizontal hero-id="{{selectedAlbum.title}}-{{selectedAlbum.icon}}" hero on-tap="{{transition}}">
          <div class="card-left" style="background:{{selectedAlbum.color}};" hero-id="{{selectedAlbum.title}}-{{selectedAlbum.icon}}-art" hero></div>
          <div class="card-right" flex>
            <div layout horizontal center>
              <div>
                <div class="card-icon" style="background:{{selectedAlbum.color}};"></div>
              </div>
              <div flex>
                <div class="card-album-title">{{selectedAlbum.title}}</div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </core-animated-pages>

  </template>
  <script>

    Polymer('box-container', {

      page: 0,

      items: [
        { icon: 'face-unlock', title: 'Biography', color: '#8BC34A' },
        { icon: 'language', title: 'Blog', color: '#CDDC39' },
        { icon: 'gesture', title: 'Work', color: '#FFEB3B' },
        { icon: 'accessibility', title: 'Social', color: '#FFC107' }
      ],

      selectedAlbum: null,

      transition: function(e) {
        if (this.page === 0 && e.target.templateInstance.model.item) {
          this.selectedAlbum = e.target.templateInstance.model.item;
          this.page = 1;
        } else {
          this.page = 0;
        }
      }
    });

  </script>
  </polymer-element>

  <core-scroll-header-panel condenses>
    <core-toolbar class="tall">
      <div flex></div>
      <paper-icon-button icon="menu"></paper-icon-button>
      <paper-icon-button icon="search"></paper-button>
    </core-toolbar>
    <box-container></box-container>
  </core-scroll-header-panel>
  
  
</body>
</html>