<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="box-container">
  <template>
    <link rel="stylesheet" href="box-container.css">

    <core-animated-pages selected="{{page}}" transitions="hero-transition" on-core-animated-pages-transition-end="{{complete}}">

      <section>

        <div class="chip-container" hero-p on-tap="{{transition}}">

          <template repeat="{{items as item}}">

            <div class="chip" hero-id="{{item.title}}-{{item.icon}}" hero?="{{selectedAlbum === item }}">
              <div class="chip-top" style="background:{{item.color}};" hero-id="{{item.title}}-{{item.title}}-art" hero?="{{selectedAlbum === item}}"><core-icon icon="{{item.icon}}" class="big"></core-icon></div>
              <div class="chip-bottom">
                <div class="chip-album-title">{{item.title}}</div>
                
              </div>
            </div>

          </template>

        </div>
      </section>

      <section id="details">

        <div class="card" layout horizontal hero-id="{{selectedAlbum.title}}-{{selectedAlbum.icon}}" hero on-tap="{{transition}}">
          <div class="card-left" style="background:{{selectedAlbum.color}};" hero-id="{{selectedAlbum.title}}-{{selectedAlbum.icon}}-art" hero></div>
          <div class="card-right" flex>
            <div layout horizontal center>
              <div>
                <div class="card-icon" style="background:{{selectedAlbum.color}};"></div>
              </div>
              <div flex>
                <div class="card-album-title">{{selectedAlbum.title}}</div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </core-animated-pages>

  </template>
  <script>

    Polymer('box-container', {

      page: 0,

      items: [
        { icon: 'face-unlock', title: 'Biography', color: '#8BC34A' },
        { icon: 'language', title: 'Blog', color: '#CDDC39' },
        { icon: 'gesture', title: 'Work', color: '#FFEB3B' },
        { icon: 'accessibility', title: 'Social', color: '#FFC107' }
      ],

      selectedAlbum: null,

      transition: function(e) {
        if (this.page === 0 && e.target.templateInstance.model.item) {
          this.selectedAlbum = e.target.templateInstance.model.item;
          this.page = 1;
        } else {
          this.page = 0;
        }
      }
    });

  </script>
  </polymer-element>