<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="lm-bio" attributes="">
  <template>
    
    <link rel="stylesheet" href="lm-bio.css">

    <paper-shadow z="3" class="span-shadow">
      
      <div flex class="content-header"><h3><core-icon icon="face-unlock"></core-icon>&nbsp;Bio</h3></div>

      <div class="content">

        <div class="bio-image">Luciano Murruni</div>
        
        <p>12+ years of experience in IT area.<br> 
My career goal is to maintain a high level of professionalism and utilize my skill to improve<br>
my knowledge of the methodologies for the IT Service Management and Software Development.<br><br>

<b>Specialties:</b> <br>
Web programming, Team work management, <br>
Consulting on mobile and web technologies, <br>
Develop project team, <br>
Execute and communicate project plan, <br>
Establish and maintain interpersonal relationships,<br>
Support team building,<br><br>

<b>Development specialties</b>: <br>
Javascript;<br>
HTML5 / CSS3;<br>
PHP;<br>
Data modeling, SQL, SQLite;<br>
Object oriented design and experience with UML & design patterns;<br>
Integration with server-side API's and Web Services, ReST, XML/JSON, RESTKit framework;<br>
Versioning control: SVN/GIT;<br>
3rd party services and tools: Social integration;<br>
        </p>

      </div>
    </paper-shadow>



  </template>
  <script>
    (function () {

      Polymer({
        
      });

    })();
  </script>
</polymer-element>