/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}
.content{padding: 5px;}
.content-header{ background-color: #34495e; padding:0.5px;}
.content-header h1,h2,h3{color: #fff; text-align: center;}
.bio-image{ width: 120px; height: 120px; margin-right: auto; margin-left: auto;  border: 5px solid #34495e; text-indent: -999px; border-radius: 90px; background-image: url(../../images/luciavatar.jpg); background-size: 120px 120px; background-repeat: no-repeat;}